################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LF12/Images/*
/LF12/Jsons/*
/LF12/bin/
/LF12/obj/
/LF12/obj/Debug/net8.0/LF12.csproj.FileListAbsolute.txt
/LF12/obj/Debug/net8.0/LF12.AssemblyInfoInputs.cache
/LF12/obj/Debug/net8.0/LF12.AssemblyInfo.cs
/LF12/obj/Debug/net8.0/LF12.csproj.CoreCompileInputs.cache
/LF12/obj/Debug/net8.0/LF12.assets.cache
/LF12/obj/LF12.csproj.nuget.dgspec.json
/LF12/obj/LF12.csproj.nuget.g.targets
/LF12/obj/project.assets.json
/LF12/obj/project.nuget.cache
